
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>
<form action="/" method="post">
    <div>
        姓名：<input type="text" name="name" value="" />
    </div>
    <br />
    <div>
        帳號：<input type="text" name="username" value="" />
    </div>
    <br />
    <div>
        密碼：<input type="password" name="password" value="" />
    </div>
    <br />
    <div>
        性別：
        <input type="radio" name="gender" value="" />男性
        <input type="radio" name="gender" value="" />女性
    </div>
    <br />
    <div>
        興趣：
        <input type="checkbox" name="item" value="" />游泳
        <input type="checkbox" name="item" value="" />閱讀
        <input type="checkbox" name="item" value="" />看電影
    </div>
    <br />
    <div>
        自我介紹：
        <textarea></textarea>
    </div>
</form>

